body {
    background-color: #b30000; /* FUNDO VERMELHO ESCURO */
    font-family: 'Segoe UI', sans-serif;
    color: white;
    margin: 0;
}

/* Header */
.main-header {
    background-color: #000000; /* Header Preto */
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #000; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.site-title {
    color: #ffffff;
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.profile-link {
    color: #000;
    background: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.profile-link:hover {
    background-color: #000;
    color: white;
}

/* Grid */
.game-grid-container {
    display: grid;
    /* --- AUMENTEI AQUI: De 200px para 300px --- */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    padding: 40px;
    max-width: 1400px; /* Aumentei a largura total */
    margin: 0 auto;
}

/* Card Simplificado */
.game-card-simple {
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    aspect-ratio: 2/3;
    border: 4px solid #000; /* Borda Preta Grossa */
    background: #000;
}

/* Hover */
.game-card-simple:hover {
    transform: scale(1.03);
    border-color: #fff; /* Borda fica branca ao passar mouse */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    z-index: 10;
}

.game-cover-simple {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}