body {
    background-color: #b30000;
    font-family: 'Segoe UI', sans-serif;
    color: white;
    margin: 0;
}


.main-header {
    background-color: #000000;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #000; 
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.site-title {
    color: #ffffff;
    margin: 0;
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.profile-link {
    color: #000;
    background: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: 0.3s;
}

.profile-link:hover {
    background-color: #000;
    color: white;
}


.game-grid-container {
    display: grid;

    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    padding: 40px;
    max-width: 1600px;
    margin: 0 auto;
}

/* CARD DEITADO (PAISAGEM) */
.game-card-simple {
    width: 100%;
    
    aspect-ratio: 16/9;      
    
    border-radius: 12px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
    border: 4px solid #000;
    background: #000;
}


.game-card-simple:hover {
    transform: scale(1.05);
    border-color: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
    z-index: 10;
}


.game-cover-simple {
    width: 100%;
    height: 100%;
    object-fit: cover;    
    object-position: top; 
    display: block;
}


@media (max-width: 1000px) {
    .game-grid-container {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px) {
    .game-grid-container {
        grid-template-columns: 1fr; 
    }
}